body {
  background-color: #fff;
  font-family:helvetica,arial;
}

#container {
	width:880px;
	text-align:left;
}

div.header {
  position:relative;
  width: 880px;
  height: 185px;
  background:url(images/header.jpg);
}

#menu {
	position:absolute;
	top:156px;
	height:27px;
	right:0px;
	color:#fff;
}

.menu_item {
	float:left;
	padding-top:9px;
	height:20px;
	background:#000;
	color:#fff;
	font-size:15px;
	padding-right:20px;
	padding-left:20px;
	cursor:pointer;
	text-decoration: none;
}

.menu_item_nh {
	float:left;
	padding-top:9px;
	height:20px;
	background:#000;
	color:#fff;
	font-size:15px;
	padding-right:20px;
	padding-left:20px;
	text-decoration: none;
}

.menu_item:hover {
  color:#fff;
  background:#555;
	
}

.devider {
	padding-top:9px;
	float:left;
	color:#fff;
}

.photo_frame {
	width:262px;
	height:290px;
	background:url(images/plrd.jpg);
	float:left;
	margin-right:25px;
	padding-top:20px;
	cursor:pointer;
}

span.h1 { 
  color: rgb(200,30,50);
}
span.a1 {
  color: #0EDA12;
}
span.h2 {
  color: rgb(200,0,200);
}
span.a2 {
  color: rgb(0,200,200);
}

table.photo {
}

table.photo td {
  width: 210px;
  height: 210px;
  margin-right: 5px;
  background-color: rgb(200,200,200);
  text-align: center;
}

table.photo td:hover {
  background-color: rgb(100,100,100);
  cursor: pointer;
}

table.photo td.large {
  width: 410px;
  height: 410px;
  margin-right: 0px;
  background-color: rgb(200,200,200);
  text-align: center;
}


table.photo td.large:hover {
  background-color: rgb(200,200,200);
  cursor: default;
}

img.photo { 
  width: auto;
  max-height: 200px;
  max-width: 200px;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

img.large {
  width: auto;
  max-height: 400px;
  max-width: 400px;
	padding:10px;
	background:#fff;
	border:solid 1px #000;
}

div.find_photos {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

span.find_photos {
  padding-bottom: 15px;
}

div.footer {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
	margin-top:20px;
  text-align:center;
}

a.footer {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

a.footer:hover {
  text-decoration: underline;
  color: rgb(50,50,50)
}

div.subtitle {
	margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 20px;
  color: black;
}

div.results {
  width: 880px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
	padding-top:30px;
	padding-left:20px;
}

div.upload_now {
  margin-left: auto;
  margin-right: auto;
}

a.upload_now {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

a.upload_now:hover {
  text-decoration: underline;
  color: rgb(50,50,50)
}

div.center {
  width: 880px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a.nav_link {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

a.nav_link:hover {
  text-decoration: underline;
  color: rgb(50,50,50)
}

div.comments {
  background-color: #000;
  width: 880px;
  padding: 10px;
  margin-bottom: 20px;
}

div.comment {
  background-color: #fff;
  padding: 5px; 
  margin-bottom: 15px;
  text-align:left;
}

.invisifile {
	opacity:.0001;
	height:60px;
	width:10px;
	size:1;
	font-size:100px;
	margin-left:-1400px;
	position:absolute;
	top:0px;
	left:0px;
}